Code/Recurring/Campaign lists/06.22.2026 - MF - Stop The Spread_ Four Reasons Pests Are Thriving Right Now \[NonGmail\].csv
Code/Recurring/Campaign lists/06.19.2026 - MF - Last Chance For a Buzzless 4th Of July \[NCR Gmail\].csv
Code/Recurring/Campaign lists/06.18.2026 - HO - How To Check For Bed Bugs In A Hotel \[NonGmail\].csv
Code/Recurring/Campaign lists/06.18.2026 - HO - How To Check For Bed Bugs In A Hotel \[Gmail\].csv
Code/Recurring/Campaign lists/06.19.2026 - MF - Last Chance For a Buzzless 4th Of July \[NCR NonGmail\].csv
Code/Recurring/Campaign lists/06.22.2026 - MF - Stop The Spread_ Four Reasons Pests Are Thriving Right Now \[Gmail\].csv
Code/Recurring/Campaign lists/06.23.2026 - MF - Ticks And Fleas_ Protect Your Pets This Summer \[Gmail\].csv
ROI Report/Temporary ROI/logs/log20260626.txt
Code/Recurring/Campaign lists/06.16.2026 - MF - Last Chance For a Buzzless 4th Of July \[NonGmail\].csv
Code/Recurring/email_campaigns.csv
Code/Recurring/Campaign lists/07.03.2026 - CV - It's Not Too Late To Take Back Your Backyard \[NonGmail\].csv
Code/Recurring/Campaign lists/07.03.2026 - CV - It's Not Too Late To Take Back Your Backyard \[Gmail\].csv
Code/Recurring/Campaign lists/07.02.2026 - MF - It's Not Too Late To Take Back Your Backyard \[Gmail\].csv
Code/Recurring/Campaign lists/06.29.2026 - MF - Real Results From Real Homeowners \[NonGmail\].csv
Code/Recurring/Campaign lists/06.29.2026 - MF - Real Results From Real Homeowners \[Gmail\].csv
Code/Recurring/Campaign lists/06.25.2026 - MF - Recognizing Faces And Holding Grudges - Five Fascinating Wasp Facts \[NonGmail\].csv
Code/Recurring/Campaign lists/06.25.2026 - MF - Recognizing Faces And Holding Grudges - Five Fascinating Wasp Facts \[Gmail\].csv
Code/Recurring/Campaign lists/06.23.2026 - MF - Ticks And Fleas_ Protect Your Pets This Summer \[NonGmail\].csv
Code/Recurring/Campaign lists/06.16.2026 - MF - Last Chance For a Buzzless 4th Of July \[Gmail\].csv
Code/Recurring/Campaign lists/06.15.2026 - HO - Can Cockroaches Survive A Nuclear Bomb_ \[Gmail\].csv
Code/Recurring/Campaign lists/06.15.2026 - HO - Can Cockroaches Survive A Nuclear Bomb \[NonGmail\].csv
Code/Recurring/Campaign lists/06.11.2026 - MF - Your Home Is A Haven - Keep It That Way \[NonGmail\].csv
Code/Recurring/Campaign lists/06.11.2026 - MF - Your Home Is A Haven - Keep It That Way \[NonGmail\].csv
Code/Recurring/Campaign lists/06.11.2026 - MF - Your Home Is A Haven - Keep It That Way \[Gmail\].csv
Code/Recurring/Campaign lists/06.05.2026 - MF - How to Identify Mouse Urine \[NonGmail\].csv
Code/Recurring/Campaign lists/06.05.2026 - MF - How to Identify Mouse Urine \[Gmail\].csv
Code/Recurring/Campaign lists/06.01.2026 - HO - Ants_ Why They Keep Coming Back \[FINAL NonGmail\].csv
Code/Recurring/Campaign lists/06.01.2026 - HO - Ants_ Why They Keep Coming Back \[FINAL Gmail\].csv
Code/Recurring/Campaign lists/05.29.2026 - MF - Summer Pests_ Don't Wait Until You Spot Them \[NOR NonGmail\].csv
Code/Lists/Syracuse Branch Current Customers 2026.15.7.csv
Code/Recurring/Campaign lists/01.27.2026 - HO - Cross Sell_ Termites Turning Your Home Into A Snack_ (Campaign 3) Batch \#1.csv
Code/Recurring/Campaign lists/01.27.2026 - HO - Cross Sell_ Termites Turning Your Home Into A Snack_ (Campaign 3) Batch \#2.csv
Code/Recurring/Campaign lists/01.27.2026 - HO - Cross Sell_ Termites Turning Your Home Into A Snack_ (Campaign 3) Batch \#3.csv
Code/Recurring/Campaign lists/01.28.2026 - HO - Cross Sell_ Termites Turning Your Home Into A Snack_ (Campaign 3) Batch \#4.csv
Code/Recurring/Campaign lists/01.28.2026 - HO - Cross Sell_ Termites Turning Your Home Into A Snack_ (Campaign 3) Batch \#5.csv
Code/Recurring/Campaign lists/01.28.2026 - HO - Cross Sell_ Termites Turning Your Home Into A Snack_ (Campaign 3) Batch \#6.csv
Code/Recurring/Campaign lists/01.28.2026 - HO - Cross Sell_ Termites Turning Your Home Into A Snack_ (Campaign 3) Batch \#7.csv
Code/Recurring/Campaign lists/02.03.2026 - MF - Winback Campaign (Campaign 4) Batch \#1.csv
Code/Recurring/Campaign lists/02.03.2026 - MF - Winback Campaign (Campaign 4) Batch \#2.csv
Code/Recurring/Campaign lists/02.03.2026 - MF - Winback Campaign (Campaign 4) Batch \#3.csv
Code/Recurring/Campaign lists/02.03.2026 - MF - Winback Campaign (Campaign 4) Batch \#4.csv
Code/Recurring/Campaign lists/02.03.2026 - MF - Winback Campaign (Campaign 4) Batch \#5.csv
Code/Recurring/Campaign lists/02.03.2026 - MF - Winback Campaign (Campaign 4) Batch \#6.csv
Code/Recurring/Campaign lists/02.09.2026 - MF - Winback Campaign (Campaign 4) Batch \#10.csv
Code/Recurring/Campaign lists/02.09.2026 - MF - Winback Campaign (Campaign 4) Batch \#11.csv
Code/Recurring/Campaign lists/02.09.2026 - MF - Winback Campaign (Campaign 4) Batch \#12.csv
Code/Recurring/Campaign lists/02.09.2026 - MF - Winback Campaign (Campaign 4) Batch \#7.csv
Code/Recurring/Campaign lists/02.09.2026 - MF - Winback Campaign (Campaign 4) Batch \#8.csv
Code/Recurring/Campaign lists/02.09.2026 - MF - Winback Campaign (Campaign 4) Batch \#9.csv
Code/Recurring/Campaign lists/02.10.2026 - MF - Winback Campaign (Campaign 4) Batch \#13.csv
Code/Recurring/Campaign lists/02.10.2026 - MF - Winback Campaign (Campaign 4) Batch \#14.csv
Code/Recurring/Campaign lists/02.10.2026 - MF - Winback Campaign (Campaign 4) Batch \#15.csv
Code/Recurring/Campaign lists/02.10.2026 - MF - Winback Campaign (Campaign 4) Batch \#16.csv
Code/Recurring/Campaign lists/02.10.2026 - MF - Winback Campaign (Campaign 4) Batch \#17.csv
Code/Recurring/Campaign lists/02.10.2026 - MF - Winback Campaign (Campaign 4) Batch \#18.csv
Code/Recurring/Campaign lists/02.11.2026 - MF - Winback Campaign (Campaign 4) Batch \#19.csv
Code/Recurring/Campaign lists/02.11.2026 - MF - Winback Campaign (Campaign 4) Batch \#20.csv
Code/Recurring/Campaign lists/02.11.2026 - MF - Winback Campaign (Campaign 4) Batch \#21.csv
Code/Recurring/Campaign lists/02.11.2026 - MF - Winback Campaign (Campaign 4) Batch \#22.csv
Code/Recurring/Campaign lists/02.11.2026 - MF - Winback Campaign (Campaign 4) Batch \#23.csv
Code/Recurring/Campaign lists/02.11.2026 - MF - Winback Campaign (Campaign 4) Batch \#24.csv
Code/Recurring/Campaign lists/02.12.2026 - MF - Winback Campaign (Campaign 4) Batch \#25.csv
Code/Recurring/Campaign lists/02.12.2026 - MF - Winback Campaign (Campaign 4) Batch \#26.csv
Code/Recurring/Campaign lists/02.12.2026 - MF - Winback Campaign (Campaign 4) Batch \#27.csv
Code/Recurring/Campaign lists/05.29.2026 - MF - Summer Pests_ Don't Wait Until You Spot Them \[NOR Gmail\].csv
Code/Recurring/Campaign lists/05.27.2026 - MF - Take Back Your Outdoor Spaces - Just In Time For Summer \[NonHPP NonGmail Users\].csv
Code/Recurring/Campaign lists/05.27.2026 - MF - Take Back Your Outdoor Spaces - Just In Time For Summer \[NonHPP Gmail Users\].csv
Code/Recurring/Campaign lists/05.27.2026 - MF - Take Back Your Outdoor Spaces - Just In Time For Summer \[HPP NonGmail Users\].csv
Code/Recurring/Campaign lists/05.27.2026 - MF - Take Back Your Outdoor Spaces - Just In Time For Summer \[HPP Gmail Users\].csv
Code/Recurring/Campaign lists/05.27.2026 - MF - Summer Pests_ Don't Wait Until You Spot Them \[NonGmail\].csv
Code/Recurring/Campaign lists/05.27.2026 - MF - Summer Pests_ Don't Wait Until You Spot Them \[Gmail\].csv
Code/Recurring/Campaign lists/05.22.2026 - ST - What does mouse poop look like_ - NonHPP NonGmail.csv
Code/Recurring/Campaign lists/05.22.2026 - ST - What does mouse poop look like_ - NonHPP Gmail
Code/Recurring/Campaign lists/05.19.2026 - HO - Those Are Not Flying Ants (Termite Focus)_NonGmail.csv
Code/Recurring/Campaign lists/05.19.2026 - HO - Those Are Not Flying Ants (Termite Focus)_Gmail.csv
Code/Recurring/Campaign lists/05.12.2026 - MF - If You've Seen One, There Are Likely Millions More - NonGmail_2.csv
Code/Recurring/Campaign lists/05.12.2026 - MF - If You've Seen One, There Are Likely Millions More - Gmail_2.csv
Code/Recurring/Campaign lists/05.08.2026 - MF - If You've Seen One, There Are Likely Millions More - NonGmail_1.csv
Code/Recurring/Campaign lists/05.08.2026 - MF - If You've Seen One, There Are Likely Millions More - Gmail_1.csv
Code/Recurring/Campaign lists/05.01.2026 - HO - Turn Your Backyard Into A Sanctuary - Resend - NonGmail Batch 2.csv
Code/Recurring/Campaign lists/05.01.2026 - HO - Turn Your Backyard Into A Sanctuary - Resend - NonGmail Batch 1.csv
Code/Recurring/Campaign lists/05.01.2026 - HO - Turn Your Backyard Into A Sanctuary - Resend - Gmail Batch 2.csv
Code/Recurring/Campaign lists/05.01.2026 - HO - Turn Your Backyard Into A Sanctuary - Resend - Gmail Batch 1.csv
Code/Recurring/Campaign lists/04.28.2026 - HO - How to spot rat poop_NonGmail.csv
Code/Recurring/Campaign lists/04.28.2026 - HO - How to spot rat poop_Gmail.csv
Code/Recurring/Campaign lists/04.22.2026 - Termite Swarming Season Is Here - Act Now_NonGmail.csv
Code/Recurring/Campaign lists/04.22.2026 - Termite Swarming Season Is Here - Act Now_Gmail.csv
Code/Recurring/Campaign lists/04.17.2026 - HO - Turn Your Backyard Into A Sanctuary - Warm up day 19_NonGmail.csv
Code/Recurring/Campaign lists/04.16.2026 - HO - Turn Your Backyard Into A Sanctuary - Warm up day 18_NonGmail.csv
Code/Recurring/Campaign lists/04.16.2026 - HO - Turn Your Backyard Into A Sanctuary - Warm up day 18_Gmail.csv
Code/Recurring/Campaign lists/04.15.2026 - HO - Turn Your Backyard Into A Sanctuary - Warm up day 17_NonGmail.csv
Code/Recurring/Campaign lists/04.15.2026 - HO - Turn Your Backyard Into A Sanctuary - Warm up day 17_Gmail.csv
Code/Recurring/Campaign lists/04.14.2026 - HO - Turn Your Backyard Into A Sanctuary - Warm up day 16_NonGmail.csv
Code/Recurring/Campaign lists/04.14.2026 - HO - Turn Your Backyard Into A Sanctuary - Warm up day 16_Gmail.csv
Code/Recurring/Campaign lists/04.13.2026 - HO - Turn Your Backyard Into A Sanctuary - Warm up day 15_NonGmail.csv
Code/Recurring/Campaign lists/04.13.2026 - HO - Turn Your Backyard Into A Sanctuary - Warm up day 15_Gmail.csv
Code/Recurring/Campaign lists/04.10.2026 - HO - Turn Your Backyard Into A Sanctuary - Warm up day 14_NonGmail.csv
Code/Recurring/Campaign lists/04.10.2026 - HO - Turn Your Backyard Into A Sanctuary - Warm up day 14_ Gmail.csv
Code/Recurring/Campaign lists/04.09.2026 - HO - Turn Your Backyard Into A Sanctuary - Warm up day 13_NonGmail.csv
Code/Recurring/Campaign lists/04.09.2026 - HO - Turn Your Backyard Into A Sanctuary - Warm up day 13_ Gmail.csv
Code/Recurring/Campaign lists/04.08.2026 - HO - Turn Your Backyard Into A Sanctuary - Warm up day 12_NonGmail.csv
Code/Recurring/Campaign lists/04.08.2026 - HO - Turn Your Backyard Into A Sanctuary - Warm up day 12_ Gmail.csv
Code/Recurring/Campaign lists/04.07.2026 - HO - Turn Your Backyard Into A Sanctuary - Warm up day 11_NonGmail.csv
Code/Recurring/Campaign lists/04.07.2026 - HO - Turn Your Backyard Into A Sanctuary - Warm up day 11_Gmail.csv
Code/Recurring/Campaign lists/04.03.2026 - HO - Turn Your Backyard Into A Sanctuary - Warm up day 10_NonGmail.csv
Code/Recurring/Campaign lists/04.03.2026 - HO - Turn Your Backyard Into A Sanctuary - Warm up day 10_Gmail.csv
Code/Recurring/Campaign lists/03.27.2026 - ST - What does squirrel poop look like_ Warm up day 9_NonGmail.csv
Code/Recurring/Campaign lists/03.27.2026 - ST - What does squirrel poop look like_ Warm up day 9_Gmail.csv
Code/Recurring/Campaign lists/03.23.2026 - ST - How to spot beg bug poop - Warm up Day 8.csv
Code/Recurring/Campaign lists/03.20.2026 - ST - How to spot beg bug poop - Warm up Day 7.csv
Code/Recurring/Campaign lists/03.19.2026 - ST - How to spot beg bug poop - Warm up Day 6.csv
Code/Recurring/Campaign lists/03.18.2026 - Spring Pests - What to Expect - Warm up Day 5_ (Non_Gmail 3).csv
Code/Recurring/Campaign lists/03.17.2026 - Spring Pests - What to Expect - Warm up Day 4_ (Non_Gmail 2).csv
Code/Recurring/Campaign lists/03.17.2026 - Spring Pests - What to Expect - Warm up Day 4_ (Gmail).csv
Code/Recurring/Campaign lists/03.16.2026 - Spring Pests - What to Expect - Warm up Day 3_ (Non_Gmail 1).csv
Code/Recurring/Campaign lists/03.16.2026 - Spring Pests - What to Expect - Warm up Day 3_ (Gmail).csv
Code/Recurring/Campaign lists/03.13.2026 - Spring Pests - What to Expect - Warm up Day 2_ (Gmail).csv
Code/Recurring/Campaign lists/03.12.2026 - Spring Pests - What to Expect - Warm up Day 1 _ (Gmail).csv
Code/Recurring/Campaign lists/02.20.2026 - MF - Winback Campaign (Campaign 4) NG Batch \#33.csv
Code/Recurring/Campaign lists/02.20.2026 - MF - Winback Campaign (Campaign 4) NG Batch \#32.csv
Code/Recurring/Campaign lists/02.20.2026 - MF - Winback Campaign (Campaign 4) NG Batch \#31.csv
Code/Recurring/Campaign lists/02.20.2026 - MF - Winback Campaign (Campaign 4) NG Batch \#30.csv
Code/Recurring/Campaign lists/02.20.2026 - MF - Winback Campaign (Campaign 4) NG Batch \#29.csv
Code/Recurring/Campaign lists/02.20.2026 - MF - Winback Campaign (Campaign 4) NG Batch \#28.csv
Code/Recurring/Campaign lists/02.20.2026 - MF - Winback Campaign (Campaign 4) NG Batch \#27.csv
Code/Recurring/Campaign lists/02.20.2026 - MF - Winback Campaign (Campaign 4) NG Batch \#26.csv
Code/Recurring/Campaign lists/02.20.2026 - MF - Winback Campaign (Campaign 4) NG Batch \#25.csv
Code/Recurring/Campaign lists/02.19.2026 - MF - Winback Campaign (Campaign 4) NG Batch \#24.csv
Code/Recurring/Campaign lists/02.19.2026 - MF - Winback Campaign (Campaign 4) NG Batch \#23.csv
Code/Recurring/Campaign lists/02.19.2026 - MF - Winback Campaign (Campaign 4) NG Batch \#22.csv
Code/Recurring/Campaign lists/02.19.2026 - MF - Winback Campaign (Campaign 4) NG Batch \#21.csv
Code/Recurring/Campaign lists/02.19.2026 - MF - Winback Campaign (Campaign 4) NG Batch \#20.csv
Code/Recurring/Campaign lists/02.19.2026 - MF - Winback Campaign (Campaign 4) NG Batch \#19.csv
Code/Recurring/Campaign lists/02.18.2026 - MF - Winback Campaign (Campaign 4) NG Batch \#18.csv
Code/Recurring/Campaign lists/02.18.2026 - MF - Winback Campaign (Campaign 4) NG Batch \#17.csv
Code/Recurring/Campaign lists/02.18.2026 - MF - Winback Campaign (Campaign 4) NG Batch \#16.csv
Code/Recurring/Campaign lists/02.18.2026 - MF - Winback Campaign (Campaign 4) NG Batch \#15.csv
Code/Recurring/Campaign lists/02.18.2026 - MF - Winback Campaign (Campaign 4) NG Batch \#14.csv
Code/Recurring/Campaign lists/02.18.2026 - MF - Winback Campaign (Campaign 4) NG Batch \#13.csv
Code/Recurring/Campaign lists/02.17.2026 - MF - Winback Campaign (Campaign 4) NG Batch \#9.csv
Code/Recurring/Campaign lists/02.17.2026 - MF - Winback Campaign (Campaign 4) NG Batch \#8.csv
Code/Recurring/Campaign lists/02.17.2026 - MF - Winback Campaign (Campaign 4) NG Batch \#7.csv
Code/Recurring/Campaign lists/02.17.2026 - MF - Winback Campaign (Campaign 4) NG Batch \#12.csv
Code/Recurring/Campaign lists/02.17.2026 - MF - Winback Campaign (Campaign 4) NG Batch \#11.csv
Code/Recurring/Campaign lists/02.17.2026 - MF - Winback Campaign (Campaign 4) NG Batch \#10.csv
Code/Recurring/Campaign lists/02.14.2026 - MF - CAMPAIGN 5 - Don't Let Pests Spoil Valentine's Day Batch \#9.csv
Code/Recurring/Campaign lists/02.14.2026 - MF - CAMPAIGN 5 - Don't Let Pests Spoil Valentine's Day Batch \#8.csv
Code/Recurring/Campaign lists/02.14.2026 - MF - CAMPAIGN 5 - Don't Let Pests Spoil Valentine's Day Batch \#7.csv
Code/Recurring/Campaign lists/02.14.2026 - MF - CAMPAIGN 5 - Don't Let Pests Spoil Valentine's Day Batch \#6.csv
Code/Recurring/Campaign lists/02.14.2026 - MF - CAMPAIGN 5 - Don't Let Pests Spoil Valentine's Day Batch \#5.csv
Code/Recurring/Campaign lists/02.13.2026 - MF - CAMPAIGN 5 - Don't Let Pests Spoil Valentine's Day Batch \#4.csv
Code/Recurring/Campaign lists/02.13.2026 - MF - CAMPAIGN 5 - Don't Let Pests Spoil Valentine's Day Batch \#3.csv
Code/Recurring/Campaign lists/02.13.2026 - MF - CAMPAIGN 5 - Don't Let Pests Spoil Valentine's Day Batch \#2.csv
Code/Recurring/Campaign lists/02.13.2026 - MF - CAMPAIGN 5 - Don't Let Pests Spoil Valentine's Day Batch \#1.csv
Code/Recurring/Campaign lists/02.12.2026 - MF - Winback Campaign (Campaign 4) NG Batch \#6.csv
Code/Recurring/Campaign lists/02.12.2026 - MF - Winback Campaign (Campaign 4) NG Batch \#5.csv
Code/Recurring/Campaign lists/02.12.2026 - MF - Winback Campaign (Campaign 4) NG Batch \#4.csv
Code/Recurring/Campaign lists/02.12.2026 - MF - Winback Campaign (Campaign 4) NG Batch \#3.csv
Code/Recurring/Campaign lists/02.12.2026 - MF - Winback Campaign (Campaign 4) NG Batch \#2.csv
Code/Recurring/Campaign lists/02.12.2026 - MF - Winback Campaign (Campaign 4) NG Batch \#1.csv
Code/Recurring/Campaign lists/02.12.2026 - MF - Winback Campaign (Campaign 4) Batch \#30.csv
Code/Recurring/Campaign lists/02.12.2026 - MF - Winback Campaign (Campaign 4) Batch \#29.csv
Code/Recurring/Campaign lists/02.12.2026 - MF - Winback Campaign (Campaign 4) Batch \#28.csv
